body
{
    margin: 0px;
    padding: 0px;
    background-image: url("images/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a
{
    text-decoration: none;
    font-family: sans-serif;
}
.body-div
{
    width: 100%;
}
.top-nav
{
    background-color: rgba(0,0,0,0.5);
    /*height: 75px;*/
    display: flex;
    padding: 0px 95px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.top-nav-links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.top-nav-logo
{
    color: white;
    font-family: sans-serif;
}
.top-nav-logo:hover
{
    color: #3cb878;
}
.img
{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 19px;
    height: 19px;
    background-position: -20px -20px;
}

.sprite-calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -79px -20px;
}

.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: -88px -79px;
}
.sprite-forum:hover{
    width: 28px;
    height: 20px;
    background-position: -20px -79px;
}
.sprite-journey {
    width: 20px;
    height: 20px;
    background-position: -156px -20px;
}

.sprite-journey:hover {
    width: 20px;
    height: 20px;
    background-position: -156px -80px;
}

.top-nav-sign
{
    color: white;
    font-size: 25px;
}
.top-nav-span:hover
{
    text-decoration: underline;
}
.top-nav-span
{
    color: #3cb878;
}
.form-container
{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.form-div
{
    width: 540px;
    height: 770px;
    background-color: white;
    border-radius: 10px;
    align-content: center;
}
form
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-size: 20px;
    height: 500px;
    justify-content: space-between;
}
.inputs
{
    height: 40px;
    font-size: 22px;
    padding: 10px;
}
.check
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
}
.check:checked
{
    color: #3cb878;
}
.container
{
    display: flex;
    justify-content: space-between;
}
.sign-up::before
{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    margin-right: 30px;
}
.sign-up
{
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 30px;
}
.sign-up:hover
{
    text-decoration: underline;
}
.login
{
    color: #3cb878;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 50px;
}
.login:hover
{
    text-decoration: underline;
}
.buttons
{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.facebook
{
    background-color: #305db8;
}
.facebook:hover
{
    background-color: #264b96;
}
.google
{
    background-color: #df4a32;
}
.google:hover
{
    background-color: #c3412c;
}
.button
{

    height: 50px;
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.logo
{
    color: white;
    font-family: Arial;
    font-weight: bold;

}
.logof
{
    font-size: 30px;
    margin: 0 25px 0 20px;
}
.logog
{
    font-size: 22px;
    margin: 0 15px 0 20px;
}
.line
{
    color: rgba(255,255,255,0.2);
    font-size: 30px;
}
.web
{
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    margin: 0 auto;
}
.a{
    width: 48%;
}
.or{
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    color: #848484;
}
.center-division
{
    width: 80%;
    margin: auto;
}
.or::before , .or::after
{
    display: inline-block;
    width: 170px;
    height: 1px;
    background-color: #848484;
    content: "";
}
.or::before
{
    margin-right: 24px;
}
.or::after
{
    margin-left: 24px;
}
.agree
{
    color: black;
    font-family: sans-serif;
    margin-left: 15px;
}
.terms
{
    color: #3cb878;
    font-family: sans-serif;
}
.terms:hover
{
    text-decoration: underline;
}
.ch
{
    display: flex;
    align-items: center;
}
.create
{
    height: 60px;
    background-color: #3cb878;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crt
{
    color: white;
    font-family: sans-serif;
    display: block;
}

