body
{
    padding: 0;
}
.container
{
    width: 1280px;
    margin: 0 auto;
}
.logo
{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 80px;
}
.logo-span
{
    color: #4bcaff;
}
.top-nav-link
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 17px 41px;
    display: inline-block;
    font-family: sans-serif;

}
.top-nav
{
    margin-top: 45px;
    background-color: #35444f;
    height: 70px;
    text-align: center;
}
.top-nav-ramda
{
    background-color: #222f3a;
}
.side-nav
{
    width: 345px;
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
}
.side-nav-link
{
    display: block;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
}
.side-nav-link:hover
{
    background-color: #dbdbdb;
    padding-left: 50px;
    margin-left: 1px;
}
.context
{
    margin-top: 50px;
    height: 850px;
}
.article
{
    width: 880px;
    display: inline-block;
    float: right;
}
.ramda-img
{
    border: 1px solid #35444f;
    height: 530px;
}
.text
{
    width: 815px;
    margin: 0 auto;
}
.img
{
    display: block;
    margin: 75px auto ;
    width: 320px;
    height: 380px;
}
.img:hover
{
    animation: zoom 2s linear;
    transform: scale(1.2);
}
@keyframes zoom {
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(1.2);
    }
}
.bottom-nav
{
    background-color: #b4b7ba;
    height: 70px;
}
.bottom-nav-links
{
    display: inline-block;
    float: left;
    width: 900px;
    margin-left: 20px;
    margin-top: 20px;
}
.bottom-nav-link
{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin: 0 12px;
}
.blue-ramda
{
    text-decoration: underline;
    color: #3181a6;
    font-family: sans-serif;
}
.copyright
{
    font-family: sans-serif;
    font-size: 24px;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
p
{
    font-family: sans-serif;
    font-size: 20px;
}
